.info .img {
    margin-bottom: 2rem;
}

@media screen and (min-width: 1024px)  {
    .info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .info .img {
       margin-left: 5rem;
    }
    .info .text {
        text-align: left;
    }
}
